<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GradeDao">
    <select id="selectGrades" resultType="com.po.Grade">
         select * from grade
    </select>
    <insert id="insertGrades" parameterType="com.po.Grade">
        insert into grade values (#{usr},#{id},#{ch},#{ma},#{en},#{phy},#{che},#{bio},#{hi},#{po},#{ge})
    </insert>

</mapper>