<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
   <select id="selectpwd"   parameterType="string" resultType="com.po.User">
       select * from user where usr= #{usr}
   </select>
    <insert id="insertUser" parameterType="com.po.User">
        insert into user values (#{usr},#{pwd})
    </insert>
</mapper>